.banner {
    width: 100%;
    background-image: url("images/ecosystem.jpg");
    background-position-y: 60%;
    align-items: center;
    justify-items: center;
    padding-top: 4rem;
}

.logo {
    display: block;
    margin: auto;
    padding-bottom: 5em;
    max-width: 30rem;
}

html, body {
    margin: 0;
}

nav {
    transition: all 1s;
    color: white;
    padding: 1rem; 
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Roboto", sans-serif;
}

nav > h2 {
    margin: 0;
    padding: 0;
}

.hamburgerButton {
    display: none;
}

.links {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.links > a {
    padding: 0 1rem;
}

.main-content {
    position: relative;
    top: -2rem;
    display: block;
    margin: -1rem 15vw 0 15vw;
    font-size: 1.3rem;
    background: white;
    width: fit-content;
    padding: 3rem;
    border-radius: 1rem;
}

h1 {
    font-family: "Merriweather", serif;
    margin: 0;
}

p {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    background: rgb(110, 102, 83);
    position: relative;
    top: -4rem;
}

ol {
    padding-right: 2.5rem;
}

.main-content > h1 {
    border-bottom: 1px #6C7F72 solid;
}

@media screen and (max-width: 850px) {
    .main-content {
        margin: 0;
        padding: 1rem;
        font-family: "Roboto", sans-serif;
    }

    .banner {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .logo {
        display: inline-block;
        margin: auto;
        vertical-align: middle;
        width: 90vw;
    }

    .links {
        background: #48504E;
        grid-column: span 2;
        display: none;
        grid-template-rows: repeat(4, 1fr);
        justify-content: flex-start;
    }

    .links > a {
        display: inline-block;
        margin: 1rem 0;
    }

    nav > h2 {
        padding: 1rem;
    }

    .hamburgerButton {
        display: inline;
        margin: auto .5rem auto auto;
        filter: invert(100);
        padding: 1rem;
    }

    nav {
        background: #6C7F72;
        padding: 0;
    }
}